.check-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.check-list {
    display: flex;
    gap: 16px;
    align-items: center;
}

.check-box {
    height: 20px;
    width: 20px;
    box-shadow: inset 0 0 0 2px var(--grey-200);
    display: grid;
    place-items: center;
}
.check-box:hover {
    box-shadow: inset 0 0 0 2px var(--green-200);
}
.check-box-active{
    background-color: var(--green-200);
    box-shadow: none;
}

.hide{
    display: none;
}

