@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    background-color: var(--grey-950);
    display: grid;
    place-items: center;
}

.text-preset-1{
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0px;
    font-weight: 700;
}
.text-preset-2{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 700;
}
.text-preset-3{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
}
.text-preset-4{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 700;
}
