.password-wrapper {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-800);
}

.password {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password img {
    height: 20px;
    width: 17.5px;
}
.password img:hover {
    color: var(--grey-200);
}
.copy{
    display: flex;
    gap: 16px;
}
.copy svg:hover{
    color: var(--grey-200);
}

@media(min-width:768px) {
    .password-wrapper {
        padding: 16px 32px;
    }

    .password {
        gap: 0;
        justify-content: space-between;
        width: 100%;
    }
}